figure{
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-color: #7fa6fb;
    margin: 0;
    height: 80px;
    background-size: contain;
} 
#pattern{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
} 
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: 400;
    margin: 0;
} 
.scritto,.data{
    color: #9b9da1c7;
    margin: 0;
} 
.first{
    color: rgb(1, 118, 214);
} 